# Django
# ------------------------------------------------------------------------------
Django==4.2.2                   # https://www.djangoproject.com/
django-environ==0.10.0          # https://github.com/joke2k/django-environ

# Django REST Framework
# ------------------------------------------------------------------------------
djangorestframework==3.14.0     # https://github.com/encode/django-rest-framework
django-cors-headers==4.1.0      # https://github.com/adamchainz/django-cors-headers
drf-yasg==1.21.6                # https://github.com/axnsan12/drf-yasg

# Database
# ------------------------------------------------------------------------------
mysqlclient==2.2.0              # https://github.com/PyMySQL/mysqlclient